<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="<%= @html_class if @html_class %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Eve</title>

    <%# I hate this work-around as much as you do, but it works for now %>
    <%= yield :head %>
  </head>

  <body class="<%= body_classes %>">
    <%= render partial: 'shared/header-logged-out' unless user_signed_in? %>
    <%= render partial: 'shared/header-logged-in' if user_signed_in? %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
